.active-button {
    background-color: #0E7A81 !important;
    color: white !important;
}
button:disabled {
    background-color: #d1d5db; /* Light gray background */
    cursor: not-allowed; /* Show a disabled cursor */
}
